.idea/
.vault
ansible.cfg.bak
dump.rdb
foreman.cache
foreman.facts
foreman.hostcollections
foreman.index
foreman.ini
foreman.params
tower-job-launch-test.yml
hosts-virtual
.DS_Store
fact_cache/**
**/fact_cache/**
playbooks/jsontest.yml
ansible-navigator.log
.devcontainer/scripts/session-manager-plugin.deb
**/.python-version
**/__pycache__/*
.trunk
**/tmp.Dockerfile
